# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env*.local
.env.development
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Prisma
prisma/migrations/
*.db
*.db-journal

# Logs
logs
*.log

# Misc
.turbo
